@@ -0,0 +1,2 @@

app1/.DS_Store# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
/cmake-build-debug
/sample
*.DS_Store
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_lib.dir/build.make
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_run.dir/build.make
/app1/cmake-build-debug/tst/CMakeFiles/progra2-project-2-bravo_tst.dir/build.make
/app1/cmake-build-debug/CMakeFiles/clion-environment.txt
/app2/cmake-build-debug/CMakeFiles/clion-environment.txt
/app1/cmake-build-debug/CMakeFiles/clion-log.txt
/app2/cmake-build-debug/CMakeFiles/clion-log.txt
/app1/cmake-build-debug/CMakeFiles/cmake.check_cache
/app2/cmake-build-debug/CMakeFiles/cmake.check_cache
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_lib.dir/cmake_clean.cmake
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_run.dir/cmake_clean.cmake
/app1/cmake-build-debug/tst/CMakeFiles/progra2-project-2-bravo_tst.dir/cmake_clean.cmake
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_lib.dir/cmake_clean_target.cmake
/app1/cmake-build-debug/src/cmake_install.cmake
/app1/cmake-build-debug/tst/cmake_install.cmake
/app1/cmake-build-debug/cmake_install.cmake
/app1/cmake-build-debug/CMakeCache.txt
/app2/cmake-build-debug/CMakeCache.txt
/app1/cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
/app2/cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
/app1/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
/app2/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
/app1/cmake-build-debug/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
/app2/cmake-build-debug/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
/app1/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/app2/cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/app1/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
/app2/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
/app1/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
/app2/cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
/app1/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/app1/cmake-build-debug/src/CMakeFiles/CMakeDirectoryInformation.cmake
/app1/cmake-build-debug/tst/CMakeFiles/CMakeDirectoryInformation.cmake
/app1/cmake-build-debug/CMakeFiles/CMakeOutput.log
/app2/cmake-build-debug/CMakeFiles/CMakeOutput.log
/app1/cmake-build-debug/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
/app2/cmake-build-debug/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
/app1/cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
/app2/cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_lib.dir/depend.make
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_run.dir/depend.make
/app1/cmake-build-debug/tst/CMakeFiles/progra2-project-2-bravo_tst.dir/depend.make
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_lib.dir/DependInfo.cmake
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_run.dir/DependInfo.cmake
/app1/cmake-build-debug/tst/CMakeFiles/progra2-project-2-bravo_tst.dir/DependInfo.cmake
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_lib.dir/flags.make
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_run.dir/flags.make
/app1/cmake-build-debug/tst/CMakeFiles/progra2-project-2-bravo_tst.dir/flags.make
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_lib.dir/includes_CXX.rsp
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_run.dir/includes_CXX.rsp
/app1/cmake-build-debug/tst/CMakeFiles/progra2-project-2-bravo_tst.dir/includes_CXX.rsp
/app1/cmake-build-debug/Testing/Temporary/LastTest.log
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_lib.dir/link.txt
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_run.dir/link.txt
/app1/cmake-build-debug/tst/CMakeFiles/progra2-project-2-bravo_tst.dir/link.txt
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_run.dir/linklibs.rsp
/app1/cmake-build-debug/tst/CMakeFiles/progra2-project-2-bravo_tst.dir/linklibs.rsp
/app1/cmake-build-debug/src/Makefile
/app1/cmake-build-debug/tst/Makefile
/app1/cmake-build-debug/Makefile
/app1/cmake-build-debug/CMakeFiles/Makefile.cmake
/app1/cmake-build-debug/CMakeFiles/Makefile2
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_run.dir/objects1.rsp
/app1/cmake-build-debug/tst/CMakeFiles/progra2-project-2-bravo_tst.dir/objects1.rsp
/app1/cmake-build-debug/progra2-project-2-bravo.cbp
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_lib.dir/progress.make
/app1/cmake-build-debug/src/CMakeFiles/progra2-project-2-bravo_run.dir/progress.make
/app1/cmake-build-debug/tst/CMakeFiles/progra2-project-2-bravo_tst.dir/progress.make
/app1/cmake-build-debug/CMakeFiles/progress.marks
/app1/cmake-build-debug/src/CMakeFiles/progress.marks
/app1/cmake-build-debug/tst/CMakeFiles/progress.marks
/app1/cmake-build-debug/CMakeFiles/TargetDirectories.txt
